[submodule "tinyCUnit"]
	path = tinyCUnit
	url = http://github.com/powergun/tinyCUnit
[submodule "3rdParty/autotimer"]
	path = 3rdParty/autotimer
	url = https://github.com/Wei-N-Ning/autotimer
[submodule "3rdParty/doctest"]
	path = 3rdParty/doctest
	url = https://github.com/onqtam/doctest
[submodule "3rdParty/xsimd"]
	path = 3rdParty/xsimd
	url = https://github.com/xtensor-stack/xsimd
